body {
    background-color: rgb(54, 54, 54);
    color: white;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#memoirs_section {
    margin: auto;
    padding-top: 20px;
    max-width: 1024px;
}

#findBar, #memoirChoice {
    border-radius: 2px;
    height: 35px;
}
#findBar { width: 175px; }
.setinfo {
    background-color: rgb(79, 79, 79);
    padding: 10px;
    padding-top: 0;
    margin-bottom: 10px;
}
.eachContent {
    text-align: center;
}
.allset {
    display: flex;
    justify-content: center;
}
.setof3 {
    display: flex;
    justify-content: center;
}
.setof3 > div {
    width: 87px;
    margin: 0 10px;
}
.setof3 img {
    width: 100%;
}

.setbonus_container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.bonus > div {
    display: inline-block;
    padding: 10px 15px;
}
.smalltitle {
    border-bottom: 1px solid black;
}
.smalltitle, .bigtitle {
    width: 80px;
    color: black;
    background-color: #efefef;
}

@media screen and (max-width: 768px) { 
    .allset {
        flex-direction: column;
    }
}